/* BADGE */
.badges-container {
  display: flex;
  gap: 1em;
  margin: 1em;
}

.badge {
  font-family: "Inter", sans-serif;
  font-weight: medium;
  font-size: 0.875rem;
  background-color: #f3f4f6;
  color: #1f2937;
  padding: 0.3em 1em;
}

.badge-square {
  border-radius: 4px;
}

.badge-pill {
  border-radius: 12px;
}

.badge-gray {
  background: #f3f4f6;
  color: #1f2937;
}

.badge-red {
  background: #fee2e2;
  color: #991b1b;
}

.badge-yellow {
  background: #fef3c7;
  color: #92400e;
}

.badge-green {
  background: #d1fae5;
  color: #065f46;
}

.badge-blue {
  background: #dbeafe;
  color: #1e40af;
}

.badge-indigo {
  background: #e0e7ff;
  color: #3730a3;
}

.badge-purple {
  background: #ede9fe;
  color: #5b21b6;
}

.badge-pink {
  background: #fce7f3;
  color: #9d174d;
}

/* BANNER */
.banners-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.banner {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4em;
  display: flex;
  max-width: 900px;
  min-width: 400px;
  background-color: #fef2f2;
  padding: 1em;
  border-radius: 6px;
  gap: 1em;
  
}

.banner img {
  margin-bottom: auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  gap: .6em;
}

.banner-text p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
}

.banner-success {
  color: #065f46;
  background: #ecfdf5;
}
.banner-success p {
  color: #047857;
}
.banner-warning {
  color: #92400e;
  background: #fffbeb;
}

.banner-warning p {
  color: #b45309;
}

.banner-error {
  color: #92400e;
  background: #fef2f2;
}

.banner-error p {
  color: #b45309;
}
.banner-neutral {
  color: #1e40af;
  background: #eff6ff;
}

.banner-neutral p {
  color: #1c51b9;
}
